*, *:after, *:before {
	box-sizing: border-box;
}


body {
	font-family: 'Roboto', sans-serif;
	margin: auto;
	max-width: 80%;
	text-align: center;
}

h1 {
	font-family: 'Playfair Display';
	font-size: 500%;
	font-style: none;
	text-align: center;
	margin: 0;
	padding-top: 0.5em;
}

h2 {
	padding-bottom: 2em;
	border-bottom: 1px dotted black;
}


h3 {
	font-family: 'Playfair Display';
	font-size: 200%;
	padding-top: 1em;
}

ul {
	list-style-type: none;
	padding: 0;
}



a {
	text-decoration: none;
	color: #7fba00;

}

a:hover {
	color: #a4ba00;
	font-style: italic;
}

